<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="plantilla/navbar::head"> </head>
    <body>
        <header th:replace="plantilla/navbar::header"></header>

        <div class="clearfix">
            <img src="../videos/pexels-sebastian-coman-travel-3610168.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

            <div>
                <h1>&#191;Que es dog adoption?</h1>
            </div>

            <div>
                <p>Somos una pagina en la cual buscamos hogares a perros callejeros o de un refugio de animales</p>
            </div>
            <div>
                <h1>&#191;Que ofrecemos?</h1>
            </div>
            <div>
                <p>Poder darle un estilo  de vida diferente a los perros que han sido maltratados y abandonados,</p>
                <p>como tambien llenar de felicidad a personas y casas con una mascota.</p>
            </div>
            <div>
                <h1>&#191;Como funciona?</h1>

            </div>
            <div>
                <p>Las mascotas nos brindan un amor incondicional e inigualable, démosle la oportunidad de formar parte de una familia que los valore y ame tanto como ellos nos aman a nosotros. 
                    Tendrás la facilidad de buscar entre cientos de mascotas, alguna que se ajuste a tus requerimientos</p>
            </div>
        </div>

    </body>
</html>
