<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="plantilla/navbar::head">

        <link rel="stylesheet" href="css/adoptar.css"/>

    </head>
    <body>
        <header th:replace="plantilla/navbar::header"></header>
        <div class="cabezera">
            <h1>En dog adoption tenemos muchos productos para tu perrito</h1>
        </div>
        <div class="contenido">
            <p>Aqui vas a encontrar una varidad de productos para tu perrito, ya sea
                alimento, juguetes y cama para ellos </p>
        </div>

        <h4>Productos</h4>

        <!-- categorias -->
        <div class="filtros"> 

            <div class="contendor_categoria">
                <a href="" id="itemCategoria" category="Grande">Grande</a>
                <a href="" id="itemCategoria" category="mediano">Mediano</a>
                <a href="" id="itemCategoria" category="pequeño">Peque&#241;o</a>
            </div>

        </div>
        <!-- productos -->
       <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <div class="card" style="width: 16rem;">
                        <img src="../videos/tasa.jpg " class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Plato Metalico</h5>
                            <p class="card-text">AntiHormigas</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 16rem;">
                        <img src="../videos/alimento.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Biscuit Cachorro</h5>
                            <p class="card-text">Pedigree</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 16rem;">
                        <img src="../videos/cama.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cama Mediana</h5>
                            
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>    


       
    </body>
</html>
