body{
    background:url(../videos/fondo.jpg);
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-family: Helvetica;
}
header{
    background: #5D0978;
    width: 100%;
    clear: both;
    display: table;
}
header img{
    height: 50px;
    width:  50px;
    float: left;
    margin-left: 1.5%;
    padding: 5px;
}
nav{
    float: left;


}

nav ul li{
    list-style: none;
    margin-left:85px ;
    padding: 12px 0;
    float: left;
    position:relative ;
}
nav ul li a{
    text-decoration: none;
    color: #E17807;
    font-weight: bold;

}

.iframe{
    width: 100px;
    height: 50px;
    margin: 0 auto;
}
