body{
    background:url(../videos/fondo.jpg);  
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-family: Helvetica;
}
header{
    background: #5D0978;
    width: 100%;
    clear: both;
    display: table;
}
header img{
    height: 50px;
    width:  50px;
    float: left;
    margin-left: 1.5%;
    padding: 5px;
}
nav{
    float: left;  

 
  }
  
  nav ul li{
      list-style: none;
      margin-left:85px ;
      padding: 12px 0;
      float: left;
      position:relative ;
  }
  nav ul li a{
      text-decoration: none;
      color: #E17807;
      font-weight: bold;
 
  }
  
  .filtros{
      display: flex;
  }
  .contendor_categoria{
      display: flex;
      flex-direction: column;
      width: 18%;
  }
  img{
      height: 150px;
      width: 120px
  }
  .cabezera{
      margin-top: 45px;
      margin-left: 80px;
      
  }
  .contenido{
      margin-top: 15px;
      margin-left: 110px;
  }
  h4{
      margin-top: 30px;
      margin-left: 20px;
  }
  .filtros{
      text-decoration: none;
      margin-left: 20px;
      
      
  }
  .lista_perros{
      width: 82%;
      display: flex;
      flex-wrap: wrap;
  }
  