/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 mar. 2022, 12:09:50
    Author     : kmor5
*/



p{
    padding-top: 50px;
    margin-top: 120px;
    font-family: Montserrat;
    font-size: 16px;
    
}
