body{
    background:url(../videos/fondo.jpg);  
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-family: Helvetica;
}
header{
    background: #5D0978;
    width: 100%;
    clear: both;
    display: table;
}


menu{
width: 900px;
margin: 0 auto;
}

 header img{
     height: 50px;
     width:  50px;
     float: left;
     padding: 5px;
     margin-left: 1.5%;
     
 }
 
 nav{
   float: left;  

 }
 
 nav ul li{
     list-style: none;
     margin-left:85px ;
     padding: 12px 0;
     float: left;
     position:relative ;
 }
 nav ul li a{
     text-decoration: none;
     color: #E17807;
     font-weight: bold;

 }
 

 h1{
     margin-left:150px ;
     margin-top: 50px;
     text-align: center;
 }

 .parrafos{
     margin-left: 200px;
     text-align: center;
 }
 
 .titulo_2{
     margin: 40px;
 }
 .titulo_3{
     margin: 35px;
 }
 .caja1{
     margin: 50px;
 }
 .titulo_4{
     margin: 35px;
 }
 .caja2{
     margin: 50px;
 }
 .titulo_5{
     text-align: center;
 }
 
 .prerequi{
     margin: 80px;
 
 }
 .lista_re{
     margin: 60px;
 }

