body{
    background:url(https://sss.moda.pe/imagen/apaisado/bad-bunny-callaita-5b470.png);  
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-family: Helvetica;
}
header{
    background: #5D0978;
    width: 100%;
    clear: both;
    display: table;
}


menu{
width: 900px;
margin: 0 auto;
}

 header img{
     height: 50px;
     width:  50px;
     float: left;
     padding: 5px;
     margin-left: 1.5%;
     
 }
 
 nav{
   float: left;  

 }
 
 nav ul li{
     list-style: none;
     margin-left:85px ;
     padding: 12px 0;
     float: left;
     position:relative ;
 }
 nav ul li a{
     text-decoration: none;
     color: #E17807;
     font-weight: bold;

 }
 


