<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title th:replace="plantilla/navbar::head"></title>
       

    </head>
    <body>
        <header th:replace="plantilla/navbar::header">
            
        </header>

        <div style="text-align:center;">
            <iframe width="560" height="315" align="center" src="https://www.youtube.com/embed/nA_68ohEYRY" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
        </div>


        <div>
            <h1>Ventajas de usar Dog Adoption</h1>
        </div>

        <div>
            <p>Sin duda alguna, la tecnolog&#237;a ha cambiado la forma 
                en que realizamos muchas actividades hoy en d&#237;a; 
                desde comunicarnos, buscar informaci&#243;n hasta realizar 
                compras, se han vuelto mucho m&#225;s f&#225;cil gracias a esta. 
                Hoy por hoy es bastante dif&#237;cil pensar en un mundo sin 
                tecnolog&#237;a, sin redes sociales o alg&#250;n dispositivo inteligente.<br><br>
                En materia de adopci&#243;n animal, la internet y las redes sociales 
                han jugado un papel importante debido a que han facilitado el 
                proceso de difusi&#243;n de informaci&#243;n. Permitiendo as&#237; transmitir 
                a los hogares un mensaje de concientizaci&#243;n sobre la problem&#225;tica 
                de los animales en la calle y de c&#243;mo pueden ayudar a solucionarla.<br><br>
                Hoy en d&#237;a, existen herramientas inform&#225;ticas que permiten la 
                digitalizaci&#243;n del proceso de adopci&#243;n de animales y creemos el 
                uso de estas pueden ser la soluci&#243;n a gran parte del problema. <br><br>
                Nuestro equipo de trabajo ha desarrollado una p&#225;gina web que busca 
                agilizar el proceso de adopci&#243;n, brind&#225;ndole a la comunidad la 
                oportunidad tanto de publicar animales que necesiten de un hogar 
                o de buscar en nuestra base de datos alguna opci&#243;n de mascota para 
                adoptar seg&#250;n las caracter&#237;sticas de su inter&#233;s.<br><br>
                En Dog Adoption confiamos que uniendo esfuerzos 
                podemos ayudar a miles de mascotas que diariamente 
                son rescatadas de las calles de nuestro pa&#237;s. 
                Por eso buscamos hacer de esta herramienta 
                un punto de uni&#243;n entre toda la comunidad de 
                profesionales, refugios y amante de los animales, 
                con el fin de brindarles a esas mascotas la oportunidad 
                encontrar un hogar donde puedan ser amados y cuidados como se merecen.<br><br>



            </p>
        </div>
    </body>
</html>
